{% load i18n %}

<h1 class="title wow fadeInLeftBig animated" data-wow-duration="1000ms" data-wow-delay="300ms"
    style="visibility: visible; animation-duration: 1000ms; animation-delay: 300ms; animation-name: fadeInLeftBig;">
    {% trans "Profile of" %} : {{ user.username }}
</h1>
<img class="avatar" src="{{ user.profile.avatar.url }}" alt=""/>
<br><br>
<div class="wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="300ms">
    <form action="{% url 'accounts:edit_profile' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {% if user_form.errors %}
            <div class="alert alert-danger" role="alert">
                {{ user_form.non_field_errors }}
            </div>
        {% endif %}
        <div class="input-group input-group-lg wow fadeInUp animated" data-wow-duration="1000ms"
             data-wow-delay="300ms"
             style="visibility: visible; animation-duration: 1000ms; animation-delay: 300ms; animation-name: fadeInUp;">
            <span class="input-group-addon" id="basic-addon1"><i class="fas fa-user-circle"></i></span>
            {{ user_form.first_name }}
        </div>
        <div class="input-group input-group-lg wow fadeInUp animated" data-wow-duration="1000ms"
             data-wow-delay="300ms"
             style="visibility: visible; animation-duration: 1000ms; animation-delay: 300ms; animation-name: fadeInUp;">
            <span class="input-group-addon" id="basic-addon1"><i class="fas fa-user-circle"></i></span>
            {{ user_form.last_name }}
        </div>
        <div class="input-group input-group-lg wow fadeInUp animated" data-wow-duration="1000ms"
             data-wow-delay="300ms"
             style="visibility: visible; animation-duration: 1000ms; animation-delay: 300ms; animation-name: fadeInUp;">
            <span class="input-group-addon" id="basic-addon1"><i class="fas fa-at"></i></span>
            {{ user_form.email }}
        </div>
        <div class="input-group input-group-lg wow fadeInUp animated" data-wow-duration="1000ms"
             data-wow-delay="300ms"
             style="visibility: visible; animation-duration: 1000ms; animation-delay: 300ms; animation-name: fadeInUp;">
            <span class="input-group-addon" id="basic-addon1"><i class="fas fa-birthday-cake"></i></span>
            {{ profile_form.date_of_birth }}
        </div>
        <div class="input-group input-group-lg wow fadeInUp animated" data-wow-duration="1000ms"
             data-wow-delay="300ms"
             style="visibility: visible; animation-duration: 1000ms; animation-delay: 300ms; animation-name: fadeInUp;">
            <span class="input-group-addon" id="basic-addon1"><i class="fas fa-address-book"></i></span>
            {{ profile_form.bio }}
        </div>
        <div class="input-group input-group-lg wow fadeInUp animated" data-wow-duration="1000ms"
             data-wow-delay="300ms"
             style="visibility: visible; animation-duration: 1000ms; animation-delay: 300ms; animation-name: fadeInUp;">
            <span class="input-group-addon" id="basic-addon1"><i class="fas fa-user-astronaut"></i></span>
            {{ profile_form.avatar }}
        </div>
        <div class="input-group input-group-lg wow fadeInUp animated" data-wow-duration="1000ms"
             data-wow-delay="300ms"
             style="visibility: visible; animation-duration: 1000ms; animation-delay: 300ms; animation-name: fadeInUp;">
            <span class="input-group-addon" id="basic-addon1"><i class="fas fa-globe-americas"></i></span>
            {{ profile_form.country }}
        </div>

        <br>
        <button class="btn btn-default btn-lg" type="submit">{% trans "Save" %}</button>
    </form>
</div>