{% load i18n %}

<h3 class="bars wow fadeInUp animated" data-wow-duration="1000ms" data-wow-delay="300ms"
    style="visibility: visible; animation-duration: 1000ms; animation-delay: 300ms; animation-name: fadeInUp;">
    {% trans "My Latest Ratings" %}</h3>
<button class="btn btn-default btn-lg" data-toggle="collapse"
        data-target="#div_rates">{% trans "Show My Latest Rates" %}</button>
<div id="div_rates" class="collapse">
    {% if rates.count > 0 %}
        <table class="table table-striped">
            <thead>
            <tr>
                <th>#</th>
                <th style="width:10%">{% trans "Thumbnail" %}</th>
                <th>{% trans "Title" %}</th>
                <th>{% trans "Rates" %}</th>
                <th>{% trans "Median Rate" %}</th>
                <th>{% trans "My Rate" %}</th>
                <th>{% trans "Rated On" %}</th>
            </tr>
            </thead>
            <tbody>
            {% for rate in rates %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td><img src="{{ rate.recipe.thumbnail.url }}" class="img-responsive" alt=""/></td>
                    <td><a href="{% url 'recipes:details' recipe_slug=rate.recipe.slug %}">{{ rate.recipe.name }}</a>
                    </td>
                    <td><span class="badge badge-warning">{{ rate.recipe.rates.count }}</span></td>
                    <td>
                        <input type="text"
                               value="{{ rate.recipe.get_median_rate }}"
                               data-size="xs"
                               class="rating-disabled">
                    </td>
                    <td>
                        <form action="{% url 'recipes:add_rate' recipe_pk=rate.recipe.pk %}?next={% url 'accounts:my_dashboard' %}"
                              method="post">
                            {% csrf_token %}
                            <div style="display:inline-block">
                                {{ rate.get_form_rate.rate }}
                            </div>
                            <div style="display:inline-block">
                                <button type="submit" class="btn btn-default btn-xs">{% trans "Rate" %}</button>
                            </div>
                        </form>
                    </td>
                    <td>{{ rate.updated_at }}</td>

                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <br>
        <div class="alert alert-info">
            <strong>{% trans "Sorry but you have not rated any recipes yet :(" %}</strong>
        </div>
    {% endif %}
</div>
<br><br>