{% load i18n %}

<h1>{% trans "Ingredients" %}</h1>
<br>
<button class="btn btn-default btn-lg" data-toggle="collapse"
        data-target="#div_ingredients">{% trans "Show/Edit Current Ingredients" %}</button>
<div id="div_ingredients" class="collapse">
    {% if recipe.ingredients.count > 0 %}
        <table class="table table-striped">
            <thead>
            <tr>
                <th>#</th>
                <th>{% trans "Type" %}</th>
                <th>{% trans "Name" %}</th>
                <th>{% trans "Quantity" %} ?</th>
                <th>{% trans "Remove" %} ?</th>
            </tr>
            </thead>
            <tbody>
            {% for ingred in recipe.ingredients.all %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ ingred.ingredient.ingredient_type.name }}</td>
                    <td>{{ ingred.ingredient.name }}</td>
                    <td>{{ ingred.quantity }} {{ ingred.unit_measure.symbol }}</td>
                    <td><a class="btn btn-danger btn-md"
                           href="{% url 'recipes:delete_ingredient' ingredient_pk=ingred.pk %}">{% trans "Delete" %}</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <br>
        <div class="alert alert-info">
            <strong>{% trans "No ingredients for this recipe yet :(" %}</strong>
        </div>
    {% endif %}
</div>
<br><br>
<h3 class="bars wow fadeInUp animated" data-wow-duration="1000ms" data-wow-delay="300ms"
    style="visibility: visible; animation-duration: 1000ms; animation-delay: 300ms; animation-name: fadeInUp;">
    {% trans "Add Ingredient" %}</h3>

<form class="site-form" action="{% url 'recipes:add_ingredient' recipe_pk=recipe.pk %}" method="post">
    {% csrf_token %}
    {{ ingred_form.as_p }}
    <br>
    <button type="submit" class="btn btn-info btn-lg">{% trans "Add Ingredient" %}</button>
</form>
<br><br>