{% extends 'base_layout.html' %}

{% load static from staticfiles %}
{% load i18n %}

{% block title %}
    {% trans "Details of Recipe" %} {{ recipe.name }}
{% endblock %}

{% block banner %}
    <div class="banner1">
        <div class="container">
        </div>
    </div>
{% endblock %}

{% block content %}

    <h1 class="animated fadeInLeftBig" data-wow-duration="1000ms" data-wow-delay="300ms">
        {{ recipe.name }}
        <div class="flag flag--{{ recipe.recipe_origin.css_class }}" style="width:1em;height:0.7em;"></div>
    </h1>

    <div class="single-left wow fadeInLeftBig" data-wow-duration="1000ms" data-wow-delay="300ms">
        {% if user.is_authenticated and user == recipe.author %}
            <a href="{% url 'recipes:delete' recipe_pk=recipe.pk %}" class="btn btn-danger btn-md">{% trans "Remove" %}
                <i class="fas fa-trash-alt fa-lg"></i></a>
            <a href="{% url 'recipes:edit' recipe_slug=recipe.slug %}"
               class="btn btn-warning btn-md">{% trans "Edit" %} <i class="fas fa-edit fa-lg"></i></a>
        {% endif %}
        <p>{% trans "Created On" %} <span>{{ recipe.created_at }}</span></p>
        {% if user.is_authenticated %}
            <form action="{% url 'recipes:add_rate' recipe_pk=recipe.pk %}" method="post">
                {% csrf_token %}
                <div style="display:inline-block">
                    {{ rate_form.rate }}
                </div>
                <div style="display:inline-block">
                    <button type="submit" class="btn btn-default btn-xs">{% trans "Rate" %}</button>
                </div>
            </form>
        {% else %}
            <a href="{% url 'accounts:login' %}">{% trans "You must be logged to create a recipe" %}</a>
        {% endif %}
        <img src="{{ recipe.thumbnail.url }}" alt=" " class="img-responsive"/>
    </div>
    <div class="single-right wow fadeInRightBig" data-wow-duration="1000ms" data-wow-delay="300ms">
        <h2>Level : {{ recipe.recipe_skill.name }} - Origin : {{ recipe.recipe_origin.name }}</h2>
        <p> {% trans "Description" %} :
            <span>
            {{ recipe.description }}
            </span>
        </p>
    <br>
        <div class="col-lg-10 footer-grid wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="300ms">
            <h3 style="color:black">{% trans "Other photos" %}</h3>
            {% for photo in recipe.images.all %}
                <div class="footer-grd">
                    <a href="{{ photo.image.url }}"><img src="{{ photo.image.url }}" class="img-responsive" alt=""/></a>
                </div>
            {% endfor %}
            <div class="clearfix"></div>
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="tags-cate">
        <div class="cat-grid wow flipInY" data-wow-duration="1000ms" data-wow-delay="300ms">
            <h4><span>T</span>ime <i class="fa fa-clock fa-lg"></i></h4>
            <ul>
                <li class="list-group-item">{% trans "Preparation time" %} {{ recipe.preparation_time }}</li>
                <li class="list-group-item">{% trans "Cooking time" %} {{ recipe.cooking_time }}</li>
                <li class="list-group-item">{% trans "Cooling time" %} {{ recipe.cooling_time }}</li>
            </ul>
        </div>
        <div class="cat-grid wow flipInY" data-wow-duration="1000ms" data-wow-delay="300ms">
            <h4><span>I</span>ngredients <i class="fas fa-utensils fa-lg"></i></h4>
            <ul class="list-group wow fadeInUp animated" data-wow-duration="1000ms" data-wow-delay="300ms"
                style="visibility: visible; animation-duration: 1000ms; animation-delay: 300ms; animation-name: fadeInUp;">
                {% if recipe.steps.count > 0 %}
                    {% for ingredient in recipe.ingredients.all %}
                        <li class="list-group-item">
                            {{ ingredient.quantity }}{{ ingredient.unit_measure.symbol }}
                            - {{ ingredient.ingredient.name }}
                        </li>
                    {% endfor %}
                {% else %}
                    <li><a href="#">{% trans "No Ingredients yet" %}</a></li>
                {% endif %}
            </ul>
        </div>
        <div class="cat-grid wow flipInY" data-wow-duration="1000ms" data-wow-delay="300ms">
            <h4><span>S</span>teps <i class="fas fa-step-forward fa-lg"></i></h4>
            <ul>
                {% if recipe.steps.count > 0 %}
                    {% for step in recipe.steps.all %}
                        <li class="list-group-item">{{ step.name }} - {{ step.description }}</li>
                    {% endfor %}
                {% else %}
                    <li><a href="#">{% trans "No steps yet" %}</a></li>
                {% endif %}
            </ul>
        </div>
        <div class="clearfix"></div>
    </div>
    {% if user.is_authenticated %}
        <div class="leave-comment wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="300ms">
            <h3>{% trans "Leave your comment" %}</h3>
            <form class="site-form" action="{% url 'recipes:add_comment' recipe_pk=recipe.pk %}" method="post">
                {% csrf_token %}
                {{ comment_form.as_p }}
                <button type="submit" class="btn btn-default btn-lg">{% trans "Comment" %}</button>
            </form>
        </div>
    {% else %}
        <a href="{% url 'accounts:login' %}">{% trans "You must be logged to post a comment." %}</a>
    {% endif %}
    {% if recipe.comments.count > 0 %}
    <div class="three-com" id="block-comment">
        <h3 class="wow fadeInUp" data-wow-duration="1000ms"
            data-wow-delay="300ms">{{ number_comments }} {% trans "Comments" %}
            <span>{% trans "on" %}</span>
            <label>{{ recipe.name }}</label>
        </h3>
        {% for comment in comment_paginator.object_list %}
            {% if comment.is_root %}
                <div class="tom-grid wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="300ms">
                    <div class="tom">
                        <img class="avatar" src="{{ comment.user.profile.avatar.url }}" alt=" "/>
                    </div>
                    <div class="tom-right">
                        <div class="Hardy">
                            <h4>
                                <a href="{% url 'accounts:view_profile' username=comment.user.username %}">
                                    {{ comment.user.first_name }} {{ comment.user.last_name }}
                                </a>
                            </h4>
                            <p><label>{{ comment.created_at }}</label></p>
                        </div>
                        {% if user.is_authenticated %}
                            <div class="reply">
                                <a href="{% url 'recipes:reply_to_comment' comment_pk=comment.pk %}">Reply</a>
                            </div>
                        {% endif %}
                        <div class="clearfix"></div>
                        <p class="lorem">{{ comment.comment }}</p>
                    </div>
                    <div class="clearfix"></div>
                </div>
            {% endif %}
            {% for reply in comment.get_children %}
                <div class="tom-grid humour wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="300ms">
                    <div class="tom">
                        <img class="avatar" src="{{ reply.user.profile.avatar.url }}" alt=" "/>
                    </div>
                    <div class="tom-right">
                        <div class="Hardy">
                            <h4>
                                <a href="{% url 'accounts:view_profile' username=reply.user.username %}">
                                    {{ reply.user.first_name }} {{ reply.user.last_name }}
                                </a>
                            </h4>
                            <p><label>{{ reply.created_at }}</label></p>
                        </div>
                        <div class="clearfix"></div>
                        <p class="lorem">{{ reply.comment }}</p>
                    </div>
                    <div class="clearfix"></div>
                </div>
            {% endfor %}
        {% endfor %}
    </div>
    <ul class="pagination pagination-lg">
        {% if comment_paginator.has_previous %}
            <li>
                <a href="{% url 'recipes:details' recipe_slug=recipe.slug %}?num_page={{ comment_paginator.previous_page_number }}">
                    <i class="fa fa-angle-left">«</i>
                </a>
            </li>
        {% else %}
            <li class="disabled">
                <a href="#"><i class="fa fa-angle-left">«</i></a>
            </li>
        {% endif %}
        {% for num_page in range_page %}
            <li {% if num_page == current_page|add:"0" %}class="active"{% endif %}>
                <a href="{% url 'recipes:details' recipe_slug=recipe.slug %}?num_page={{ num_page }}">{{ num_page }}</a>
            </li>
        {% endfor %}
        {% if comment_paginator.has_next %}
            <li>
                <a href="{% url 'recipes:details' recipe_slug=recipe.slug %}?num_page={{ comment_paginator.next_page_number }}">
                    <i class=" fa fa-angle-right">»</i>
                </a>
            </li>
        {% else %}
            <li class="disabled">
                <a href="#block-comment">
                    <i class="fa fa-angle-right">»</i>
                </a>
            </li>
        {% endif %}
    </ul>
    {% else %}
        <br>
        <div class="alert alert-info">
            <strong>{% trans "This recipe has no comments yet :(" %}</strong>
        </div>
    {% endif %}

{% endblock %}