{% extends 'base_layout.html' %}

{% load static from staticfiles %}
{% load i18n %}

{% block title %}
    {% trans "Search Recipe" %}
{% endblock %}

{% block banner %}
    <div class="banner1">
        <div class="container">
        </div>
    </div>
{% endblock %}

{% block content %}
    <h1 class="wow fadeInLeftBig" data-wow-duration="1000ms" data-wow-delay="300ms">{% trans "Search results" %}
        ({{ number_results }} {% trans "Results" %})</h1>
    <br>
    <div style="float:right">
        <form class="form-inline" role="search">
            <div class="form-group">
                <label>{{ filterform.keyword.label }}</label>
                {{ filterform.keyword }}
            </div>
            <div class="form-group">
                <label>{{ filterform.filter.label }}</label>
                {{ filterform.filter }}
            </div>
            <div class="form-group">
                <label>{{ filterform.order.label }}</label>
                {{ filterform.order }}
            </div>
            <button class="btn btn-default btn-md" type="submit">Filtrer</button>
        </form>
    </div>
    <div class="event-grids">
        {% if number_results > 0 %}
            {% for recipe in results_paginator.object_list %}
                <div class="col-md-4 event-grid wow flipInY recipe-list" data-wow-duration="1000ms"
                     data-wow-delay="300ms">
                    <p class="dte">{{ recipe.created_at }}
                        <input type="text"
                               value="{{ recipe.get_median_rate }}"
                               min="0" step="0.5" data-size="xs"
                               class="rating-disabled">
                        {% if recipe.rates.count > 0 %}
                            {{ recipe.rates.count }} ratings
                        {% else %}
                            {% trans "Not yet rated" %}
                        {% endif %}
                    </p>
                    <img src="{{ recipe.thumbnail.url }}" alt=" " class="recipe-thumbnail"/>
                    <div class="nobis">
                        <a href="{% url 'recipes:details' recipe_slug=recipe.slug %}">{{ recipe.name }}<span>{% trans "By" %} {{ recipe.author.first_name }} {{ recipe.author.last_name }}</span></a>
                    </div>
                    <p class="quod">{{ recipe.get_short_description }}</p>
                    <div class="more">
                        <a href="{% url 'recipes:details' recipe_slug=recipe.slug %}"
                           class="hvr-curl-bottom-right">{% trans "Read More..." %}</a>
                    </div>
                </div>
            {% endfor %}
            <div class="clearfix"></div>
            <br>
            {% url 'recipes:search' as search_url %}
            {% with search_url|add:'?keyword='|add:keyword|add:'&filter='|add:filter|add:'&order='|add:order as full_url %}
                {% include 'utils/_pagination.html' with paginator=results_paginator base_url=full_url %}
            {% endwith %}
        {% else %}
            <br>
            <div class="alert alert-info" role="alert">
                <strong>{% trans "Sorry, we have no results for this research :(" %}</strong>
            </div>
        {% endif %}
    </div>
{% endblock %}