{% extends 'base_layout.html' %}

{% load static from staticfiles %}
{% load i18n %}

{% block title %}
    {% trans "page.title.create_recipe" %}
{% endblock %}

{% block banner %}
    <div class="banner1">
        <div class="container">
        </div>
    </div>
{% endblock %}

{% block content %}

    <h1 class="title wow fadeInLeftBig" data-wow-duration="1000ms" data-wow-delay="300ms">Create Recipe</h1>
    <div class="wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="300ms">
        <form class="site-form" action="{% url 'recipes:create' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <br>
            <button type="submit" class="btn btn-default btn-lg">Create</button>
        </form>
    </div>

{% endblock %}