{% extends 'base_layout.html' %}

{% load static from staticfiles %}
{% load i18n %}

{% block title %}
    {% trans "page.title.details_recipe" %}
{% endblock %}

{% block banner %}
    <div class="banner1">
		<div class="container">
		</div>
	</div>
{% endblock %}

{% block content %}
    <h1>Details of recipe "{{ recipe.name }}"</h1>
    <br>
    <img src="{{ recipe.thumbnail.url }}" alt="" />
    <br><br>
    <form action="{% url 'recipes:delete' recipe_pk=recipe.pk %}" method="post">
        {% csrf_token %}
        <button class="btn btn-danger btn-lg" >Remove Recipe "{{ recipe.name }}"</button>
    </form>
{% endblock %}