{% extends 'base_layout.html' %}

{% load static from staticfiles %}
{% load i18n %}

{% block title %}
    {% trans "Edit Recipe" %}
{% endblock %}

{% block banner %}
    <div class="banner1">
        <div class="container">
        </div>
    </div>
{% endblock %}

{% block content %}
    <h1 class="title wow fadeInLeftBig" data-wow-duration="1000ms" data-wow-delay="300ms">{% trans 'Edit Recipe' %}
        "{{ recipe.name }}"</h1>
    <br>
    {% if not recipe.published %}
        <div class="alert alert-warning">
            <strong>{% trans "This recipe is not published yet. To make it visible by other cookers, please click on this button" %}
                <a class="btn btn-warning btn-md"
                   href="{% url 'recipes:publish_toogle' recipe_pk=recipe.pk %}">Publish</a></strong>
        </div>
    {% endif %}

    <img src="{{ recipe.thumbnail.url }}"/>
    <br><br>
    <div class="wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="300ms">
        <form class="site-form" action="{% url 'recipes:edit' recipe_slug=recipe.slug %}" method="post"
              enctype="multipart/form-data">
            {% csrf_token %}
            {{ edit_recipe_form.as_p }}
            {{ cost_form.as_p }}
            <br>
            <button type="submit" class="btn btn-default btn-lg">{% trans "Edit" %}</button>
        </form>
        <br><br>

        {% include 'recipes/_show_edit_image.html' with recipe=recipe image_form=image_form %}

        {% include 'recipes/_show_edit_ingredient.html' with recipe=recipe ingred_form=ingred_form %}

        {% include 'recipes/_show_edit_step.html' with recipe=recipe step_form=step_form %}
    </div>
{% endblock %}