{% extends 'base_layout.html' %}

{% load static from staticfiles %}

{% block title %}
    MasterCook - Recipe Create
{% endblock %}

{% block banner %}
    <div class="banner1">
		<div class="container">
		</div>
	</div>
{% endblock %}

{% block content %}

    <div class="typo">
        <div class="container">
            <h1 class="title wow fadeInLeftBig" data-wow-duration="1000ms" data-wow-delay="300ms">Create Recipe</h1>
            <div class="wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="300ms">
                <form class="site-form" action="{% url 'recipes:create' %}" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form.non_field_errors }}
                    <div class="form-group">
                        {{ form.title.errors }}
                        {{ form.title.label_tag }}
                        {{ form.title }}
                    </div>
                    <div class="form-group">
                        {{ form.description.errors }}
                        {{ form.description.label_tag }}
                        {{ form.description }}
                    </div>
                    <div class="form-group">
                        {{ form.thumbnail.errors }}
                        {{ form.thumbnail.label_tag }}
                        {{ form.thumbnail }}
                    </div>
                    <input type="submit" class="btn btn-default" value="Create">
                </form>
            </div>
        </div>
    </div>

{% endblock %}