{% extends 'base_layout.html' %}

{% load static from staticfiles %}
{% load i18n %}

{% block title %}
    {% trans "page.title.list_recipes" %}
{% endblock %}

{% block banner %}
    <div class="banner1">
        <div class="container">
        </div>
    </div>
{% endblock %}

{% block content %}
    <!-- events -->
    <h1 class="wow fadeInLeftBig" data-wow-duration="1000ms" data-wow-delay="300ms">Latest Recipes</h1>
    <div class="event-grids">
        <div class="col-md-4 event-grid wow flipInY" data-wow-duration="1000ms" data-wow-delay="300ms">
            <p class="dte">2 January,2016</p>
            <img src="{% static 'images/10.jpg' %}" alt=" " class="img-responsive"/>
            <div class="nobis">
                <a href="{% url 'recipes:details' recipe_id=1 %}">impedit minus id quod soluta<span> maxime placeat facere</span></a>
            </div>
            <p class="quod">Nam libero tempore, cum soluta nobis est eligendi optio
                cumque nihil impedit quo minus id quod maxime placeat facere possimus.</p>
            <div class="more">
                <a href="{% url 'recipes:details' recipe_id=1 %}" class="hvr-curl-bottom-right">Read More</a>
            </div>
        </div>
        <div class="col-md-4 event-grid wow flipInY" data-wow-duration="1000ms" data-wow-delay="300ms">
            <p class="dte">5 January,2016</p>
            <img src="{% static 'images/7.jpg' %}" alt=" " class="img-responsive"/>
            <div class="nobis">
                <a href="{% url 'recipes:details' recipe_id=2 %}">id quod maxime placeat facere <span>maxime eligendi optio</span></a>
            </div>
            <p class="quod">Nam libero tempore, cum soluta nobis est eligendi optio
                cumque nihil impedit quo minus id quod maxime placeat facere possimus.</p>
            <div class="more">
                <a href="{% url 'recipes:details' recipe_id=2 %}" class="hvr-curl-bottom-right">Read More</a>
            </div>
        </div>
        <div class="col-md-4 event-grid wow flipInY" data-wow-duration="1000ms" data-wow-delay="300ms">
            <p class="dte">8 January,2016</p>
            <img src="{% static 'images/8.jpg' %}" alt=" " class="img-responsive"/>
            <div class="nobis">
                <a href="{% url 'recipes:details' recipe_id=3 %}">soluta nobis est eligendi quod <span>placeat facere possimus</span></a>
            </div>
            <p class="quod">Nam libero tempore, cum soluta nobis est eligendi optio
                cumque nihil impedit quo minus id quod maxime placeat facere possimus.</p>
            <div class="more">
                <a href="{% url 'recipes:details' recipe_id=3 %}" class="hvr-curl-bottom-right">Read More</a>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="featured-events">
        <h2 class="wow fadeInLeftBig" data-wow-duration="1000ms" data-wow-delay="300ms">Featured Recipes</h2>
        <div class="featured-evnt">
            <div class="col-md-8 featured-events-left wow fadeInLeftBig" data-wow-duration="1000ms"
                 data-wow-delay="300ms">
                <h5>Nam libero tempore, cum soluta nobis est eligendi optio dignissimos
                    <span>cumque nihil impedit quo minus id quod maxime placeat</span></h5>
                <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui
                    blanditiis praesentium voluptatum deleniti atque corrupti
                    quos dolores et quas molestias excepturi sint occaecati cupiditate
                    non provident, similique sunt in culpa qui officia deserunt mollitia
                    animi, id est laborum et dolorum fuga.
                    Nam libero tempore, cum soluta nobis est eligendi optio
                    cumque nihil impedit quo minus id quod maxime placeat facere possimus.
                    Nam libero tempore, cum soluta nobis est eligendi optio
                    cumque nihil impedit quo minus id quod maxime placeat facere possimus,
                    omnis voluptas assumenda est, omnis dolor repellendus.</p>
                <ul class="last1">
                    <li><a href="#">Temporibus autem quibusdam</a></li>
                    <li><a href="#">Et aut officiis debitis aut</a></li>
                    <li><a href="#">Necessitatibus saepe eveniet</a></li>
                    <li><a href="#">Ut et voluptates repudiandae</a></li>
                    <li><a href="#">Molestiae non recusandae earum</a></li>
                    <li><a href="#">Rerum hic tenetur a sapiente delectus</a></li>
                    <li><a href="#">Temporibus autem quibusdam</a></li>
                    <li><a href="#">Et aut officiis debitis aut</a></li>
                    <li><a href="#">Necessitatibus saepe eveniet</a></li>
                </ul>
            </div>
            <div class="col-md-4 featured-events-right wow flipInY" data-wow-duration="1000ms" data-wow-delay="300ms">
                <img src="{% static 'images/9.jpg' %}" alt=" " class="img-responsive"/>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
    
{% endblock %}