{% extends 'base_layout.html' %}

{% load static from staticfiles %}
{% load i18n %}

{% block title %}
    {% trans "page.title.signup" %}
{% endblock %}

{% block banner %}
    <div class="banner1">
        <div class="container">
        </div>
    </div>
{% endblock %}

{% block content %}

    <h1 class="title wow fadeInLeftBig animated" data-wow-duration="1000ms" data-wow-delay="300ms"
        style="visibility: visible; animation-duration: 1000ms; animation-delay: 300ms; animation-name: fadeInLeftBig;">
        {% trans "account.signup" %}
    </h1>
    <br>
    <div class="wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="300ms">
        <form action="{% url 'accounts:signup' %}" method="post">
            {% csrf_token %}
            {% if form.errors %}
                    <div class="alert alert-danger" role="alert">
                    {{ form.errors.as_text }}
                </div>
            {% endif %}
            <div class="input-group input-group-lg wow fadeInUp animated" data-wow-duration="1000ms"
                 data-wow-delay="300ms"
                 style="visibility: visible; animation-duration: 1000ms; animation-delay: 300ms; animation-name: fadeInUp;">
                <span class="input-group-addon" id="basic-addon1"><i class="fas fa-user-circle"></i></span>
                {{ form.username }}
            </div>
            <div class="input-group input-group-lg wow fadeInUp animated" data-wow-duration="1000ms"
                 data-wow-delay="300ms"
                 style="visibility: visible; animation-duration: 1000ms; animation-delay: 300ms; animation-name: fadeInUp;">
                <span class="input-group-addon" id="basic-addon1"><i class="fas fa-user-circle"></i></span>
                {{ form.first_name }}
            </div>
            <div class="input-group input-group-lg wow fadeInUp animated" data-wow-duration="1000ms"
                 data-wow-delay="300ms"
                 style="visibility: visible; animation-duration: 1000ms; animation-delay: 300ms; animation-name: fadeInUp;">
                <span class="input-group-addon" id="basic-addon1"><i class="fas fa-user-circle"></i></span>
                {{ form.last_name }}
            </div>
            <div class="input-group input-group-lg wow fadeInUp animated" data-wow-duration="1000ms"
                 data-wow-delay="300ms"
                 style="visibility: visible; animation-duration: 1000ms; animation-delay: 300ms; animation-name: fadeInUp;">
                <span class="input-group-addon" id="basic-addon1"><i class="fas fa-at"></i></span>
                {{ form.email }}
            </div>
            <div class="input-group input-group-lg wow fadeInUp animated" data-wow-duration="1000ms"
                 data-wow-delay="300ms"
                 style="visibility: visible; animation-duration: 1000ms; animation-delay: 300ms; animation-name: fadeInUp;">
                <span class="input-group-addon" id="basic-addon1"><i class="fas fa-key"></i></span>
                {{ form.password1 }}
            </div>
            <div class="input-group input-group-lg wow fadeInUp animated" data-wow-duration="1000ms"
                 data-wow-delay="300ms"
                 style="visibility: visible; animation-duration: 1000ms; animation-delay: 300ms; animation-name: fadeInUp;">
                <span class="input-group-addon" id="basic-addon1"><i class="fas fa-key"></i></span>
                {{ form.password2 }}
            </div>
            <br>
            {% if request.GET.next %}
                <input type="hidden" name="next" value="{{ request.GET.next }}">
            {% endif %}

            <button type="submit" class="btn btn-default btn-lg">{% trans "account.signup" %} <i
                    class="fas fa-sign-in-alt"></i>
            </button>
        </form>
    </div>

{% endblock %}