{% extends 'base_layout.html' %}

{% load static from staticfiles %}
{% load i18n %}

{% block title %}
    {% trans "MasterCook - My DashBoard" %}
{% endblock %}

{% block banner %}
    <div class="banner1">
        <div class="container">
        </div>
    </div>
{% endblock %}

{% block content %}

    <h1 class="title wow fadeInLeftBig" data-wow-duration="1000ms"
        data-wow-delay="300ms">{% trans 'My DashBoard' %}</h1>
    <br>

    <div class="wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="300ms">

        {% include 'accounts/parts/_view_user_recipes.html' with recipes=recipes %}

        {% include 'accounts/parts/_view_user_rates.html' with rates=rates %}

    </div>

    {% include 'utils/_modal_confirmation.html' %}

{% endblock %}