{% load i18n %}

<h1>{% trans "Images" %}</h1>
<br>
<button class="btn btn-default btn-lg" data-toggle="collapse"
        data-target="#div_images">{% trans "Show/Edit Current Images" %}</button>
<div id="div_images" class="collapse">
    {% if recipe.images.count > 0 %}

        <table class="table table-striped">
            <thead>
            <tr>
                <th>#</th>
                <th>{% trans "Title" %}</th>
                <th>{% trans "Image" %}</th>
                <th>{% trans "Remove" %} ?</th>
            </tr>
            </thead>
            <tbody>
            {% for img in recipe.images.all %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ img.name }}</td>
                    <td><img src="{{ img.image.url }}" class="img-responsive" style="width:35%;height:50%;" alt=""/>
                    </td>
                    <td>
                        <button type="button" class="btn btn-danger btn-md btn-confirm"
                                data-title="{% trans "Delete Image ?" %}"
                                data-message="{% trans "Are you sure that you want to delete this image ?" %}"
                                data-action="{% url 'recipes:delete_image' image_pk=img.pk %}?next={% url 'recipes:edit' recipe_slug=recipe.slug %}">
                            {% trans "Delete" %}
                        </button>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <br>
        <div class="alert alert-info">
            <strong>{% trans "No additional photos for this recipe yet :(" %}</strong>
        </div>
    {% endif %}
</div>
<br><br>
