{% load i18n %}

<h1>{% trans "Steps" %}</h1>
<br>
<button class="btn btn-default btn-lg" data-toggle="collapse"
        data-target="#div_steps">{% trans "Show/Edit Current Steps" %}</button>
<div id="div_steps" class="collapse">
    {% if recipe.steps.count > 0 %}
        <table class="table table-striped">
            <thead>
            <tr>
                <th>#</th>
                <th>{% trans "Title" %}</th>
                <th>{% trans "Description" %}</th>
                <th>{% trans "Reorder" %} ?</th>
                <th>{% trans "Remove" %} ?</th>
            </tr>
            </thead>
            <tbody>
            {% for step in recipe.steps.all %}
                <tr>
                    <td>{{ step.order }}</td>
                    <td>{{ step.name }}</td>
                    <td>{{ step.get_short_description }}</td>
                    <td><a class="btn btn-info" href="{% url 'recipes:up_step' step_pk=step.pk %}"><i
                            class="fas fa-arrow-alt-circle-up"></i></a>
                        <a class="btn btn-warning" href="{% url 'recipes:down_step' step_pk=step.pk %}"><i
                                class="fas fa-arrow-alt-circle-down"></i></a></td>
                    <td>
                        <button type="button" class="btn btn-danger btn-md btn-confirm"
                                data-title="{% trans "Delete Step ?" %}"
                                data-message="{% trans "Are you sure that you want to delete this step ?" %}"
                                data-action="{% url 'recipes:delete_step' step_pk=step.pk %}?next={% url 'recipes:edit' recipe_slug=recipe.slug %}">
                            {% trans "Delete" %}
                        </button>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <br>
        <div class="alert alert-info">
            <strong>{% trans "No steps for this recipe yet :(" %}</strong>
        </div>
    {% endif %}
</div>
<br><br>