.flag--es, .flag--switzerland, .flag--en, .flag--japan, .flag--usa, .flag--ireland, .flag--it, .flag--belgium, .flag--fr, .flag--romania, .flag--de, .flag--russia, .flag--bulgaria, .flag--netherlands, .flag--lithuania, .flag--austria, .flag--hungary, .flag--estonia, .flag--bolivia, .flag--poland, .flag--enraine, .flag--denmark, .flag--iceland, .flag--norway, .flag--finland, .flag--sweden {
  width: 5em;
  height: 3em;
  border: 1px solid #000;
  display: inline-block;
  transition: all .5s;
}

.flag--es {
  background: linear-gradient(red 25%, yellow 25%, yellow 75%, red 75%);
}

.flag--switzerland {
  background: linear-gradient(red 20%, transparent 20%, transparent 80%, red 80%), linear-gradient(90deg, red 30%, transparent 30%, transparent 45%, white 45%, white 55%, transparent 55%, transparent 70%, red 70%), linear-gradient(red 42%, white 42%, white 58%, red 58%);
}

.flag--en {
  background: linear-gradient(90deg, transparent 46%, red 46%, red 56%, transparent 56%), linear-gradient(transparent 38%, white 38%, white 42%, red 42%, red 58%, white 58%, white 62%, transparent 62%), linear-gradient(90deg, transparent 44%, white 44%, white 46%, red 46%, red 56%, white 56%, white 58%, transparent 58%), linear-gradient(33deg, transparent 45%, white 45%, white 48%, red 48%, red 54%, white 54%, white 57%, transparent 57%), linear-gradient(-33deg, mediumblue 45%, white 45%, white 48%, red 48%, red 54%, white 54%, white 57%, mediumblue 57%);
}

.flag--japan {
  background: radial-gradient(circle at 50% 50%, red 0%, red 30%, white 30%, white 100%);
}

.flag--usa {
  position: relative;
  background: linear-gradient(#bb133e 0%, #bb133e 7.6923076923%, white 7.6923076923%, white 15.3846153846%, #bb133e 15.3846153846%, #bb133e 23.0769230769%, white 23.0769230769%, white 30.7692307692%, #bb133e 30.7692307692%, #bb133e 38.4615384615%, white 38.4615384615%, white 46.1538461538%, #bb133e 46.1538461538%, #bb133e 53.8461538462%, white 53.8461538462%, white 61.5384615385%, #bb133e 61.5384615385%, #bb133e 69.2307692308%, white 69.2307692308%, white 76.9230769231%, #bb133e 76.9230769231%, #bb133e 84.6153846154%, white 84.6153846154%, white 92.3076923077%, #bb133e 92.3076923077%);
}
.flag--usa::before {
  box-sizing: border-box;
  content: "\2605";
  position: absolute;
  text-align: left;
  top: 0;
  left: 0;
  border: 0.382016632em solid #3C3B6E;
  display: inline-block;
  width: 40%;
  height: 53.8461538462%;
  color: white;
  background: #3C3B6E;
  font-size: 0.382016632em;
  text-shadow: 0em 0em white, 2.1010914761em 0em white, 4.2021829522em 0em white, 6.3032744283em 0em white, 8.4043659044em 0em white, 10.5054573805em 0em white, 0.95504158em 1.0314449064em white, 3.0561330561em 1.0314449064em white, 5.1572245322em 1.0314449064em white, 7.2583160083em 1.0314449064em white, 9.3594074844em 1.0314449064em white, 0em 2.0628898129em white, 2.1010914761em 2.0628898129em white, 4.2021829522em 2.0628898129em white, 6.3032744283em 2.0628898129em white, 8.4043659044em 2.0628898129em white, 10.5054573805em 2.0628898129em white, 0.95504158em 3.0943347193em white, 3.0561330561em 3.0943347193em white, 5.1572245322em 3.0943347193em white, 7.2583160083em 3.0943347193em white, 9.3594074844em 3.0943347193em white, 0em 4.1257796258em white, 2.1010914761em 4.1257796258em white, 4.2021829522em 4.1257796258em white, 6.3032744283em 4.1257796258em white, 8.4043659044em 4.1257796258em white, 10.5054573805em 4.1257796258em white, 0.95504158em 5.1572245322em white, 3.0561330561em 5.1572245322em white, 5.1572245322em 5.1572245322em white, 7.2583160083em 5.1572245322em white, 9.3594074844em 5.1572245322em white, 0em 6.1886694387em white, 2.1010914761em 6.1886694387em white, 4.2021829522em 6.1886694387em white, 6.3032744283em 6.1886694387em white, 8.4043659044em 6.1886694387em white, 10.5054573805em 6.1886694387em white, 0.95504158em 7.2201143451em white, 3.0561330561em 7.2201143451em white, 5.1572245322em 7.2201143451em white, 7.2583160083em 7.2201143451em white, 9.3594074844em 7.2201143451em white, 0em 8.2515592516em white, 2.1010914761em 8.2515592516em white, 4.2021829522em 8.2515592516em white, 6.3032744283em 8.2515592516em white, 8.4043659044em 8.2515592516em white, 10.5054573805em 8.2515592516em white;
}

.flag--ireland {
  background: linear-gradient(90deg, #00ae00 33.3%, white 33.3%, white 66.6%, orange 66.6%);
}

.flag--it {
  background: linear-gradient(90deg, #00ae00 33.3%, white 33.3%, white 66.6%, red 66.6%);
}

.flag--belgium {
  background: linear-gradient(90deg, black 33.3%, yellow 33.3%, yellow 66.6%, red 66.6%);
}

.flag--fr {
  background: linear-gradient(90deg, mediumblue 33.3%, white 33.3%, white 66.6%, red 66.6%);
}

.flag--romania {
  background: linear-gradient(90deg, mediumblue 33.3%, yellow 33.3%, yellow 66.6%, red 66.6%);
}

.flag--de {
  background: linear-gradient(-180deg, black 33.3%, red 33.3%, red 66.6%, gold 66.6%);
}

.flag--russia {
  background: linear-gradient(-180deg, white 33.3%, mediumblue 33.3%, mediumblue 66.6%, red 66.6%);
}

.flag--bulgaria {
  background: linear-gradient(-180deg, white 33.3%, green 33.3%, green 66.6%, red 66.6%);
}

.flag--netherlands {
  background: linear-gradient(-180deg, red 33.3%, white 33.3%, white 66.6%, mediumblue 66.6%);
}

.flag--lithuania {
  background: linear-gradient(-180deg, gold 33.3%, green 33.3%, green 66.6%, red 66.6%);
}

.flag--austria {
  background: linear-gradient(-180deg, red 33.3%, white 33.3%, white 66.6%, red 66.6%);
}

.flag--hungary {
  background: linear-gradient(-180deg, red 33.3%, white 33.3%, white 66.6%, green 66.6%);
}

.flag--estonia {
  background: linear-gradient(-180deg, royalblue 33.3%, #132c76 33.3%, #132c76 66.6%, white 66.6%);
}

.flag--bolivia {
  background: linear-gradient(-180deg, red 33.3%, yellow 33.3%, yellow 66.6%, green 66.6%);
}

.flag--poland {
  background: linear-gradient(-180deg, white 50%, red 50%);
}

.flag--enraine {
  background: linear-gradient(-180deg, royalblue 50%, yellow 50%);
}

.flag--denmark {
  background: linear-gradient(90deg, transparent 28%, white 28%, white 34%, transparent 34%), linear-gradient(transparent 42%, red 42%, red 46%, white 46%, white 58%, red 58%, red 62%, transparent 62%), linear-gradient(90deg, red 25%, red 25%, red 28%, white 28%, white 34%, red 34%, red 37%, red 37%);
}

.flag--iceland {
  background: linear-gradient(90deg, transparent 28%, red 28%, red 34%, transparent 34%), linear-gradient(transparent 42%, white 42%, white 46%, red 46%, red 58%, white 58%, white 62%, transparent 62%), linear-gradient(90deg, mediumblue 25%, white 25%, white 28%, red 28%, red 34%, white 34%, white 37%, mediumblue 37%);
}

.flag--norway {
  background: linear-gradient(90deg, transparent 28%, blue 28%, blue 34%, transparent 34%), linear-gradient(transparent 42%, white 42%, white 46%, blue 46%, blue 58%, white 58%, white 62%, transparent 62%), linear-gradient(90deg, red 25%, white 25%, white 28%, blue 28%, blue 34%, white 34%, white 37%, red 37%);
}

.flag--finland {
  background: linear-gradient(90deg, transparent 28%, blue 28%, blue 34%, transparent 34%), linear-gradient(transparent 42%, blue 42%, blue 46%, blue 46%, blue 58%, blue 58%, blue 62%, transparent 62%), linear-gradient(90deg, white 25%, blue 25%, blue 28%, blue 28%, blue 34%, blue 34%, blue 37%, white 37%);
}

.flag--sweden {
  background: linear-gradient(90deg, transparent 28%, yellow 28%, yellow 34%, transparent 34%), linear-gradient(transparent 42%, yellow 42%, yellow 46%, yellow 46%, yellow 58%, yellow 58%, yellow 62%, transparent 62%), linear-gradient(90deg, mediumblue 25%, yellow 25%, yellow 28%, yellow 28%, yellow 34%, yellow 34%, yellow 37%, mediumblue 37%);
}
