{% load static from staticfiles %}
{% load static i18n %}
{% load utils_tags %}
<!DOCTYPE HTML>
<html>
   <head>
      <title>{% block title %} {% endblock %}</title>
      {% include 'parts/_import_assets.html' %}
   </head>
   <body>
      {% include 'parts/_header.html' %}
      {% block banner %}
      {% endblock %}
      <div class="events">
         <div class="container">
            {% include 'parts/_messages.html' %}
            <!-- Main Block -->
            {% block content %}
            {% endblock %}
         </div>
      </div>
      {% include 'parts/_footer.html' %}
   </body>
</html>