{% load static from staticfiles %}
{% load static i18n %}
{% load utils_tags %}

<!-- footer -->
<div class="footer">
    <div class="container">
        <div class="footer-grids">
            <div class="col-md-3 footer-grid wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="300ms">
                <h3>{% trans "MasterCook" %}</h3>
                <div class="footer-grd-left">
                    <img src="{% static 'images/6.jpg' %}" class="img-responsive" alt=" "/>
                </div>
                <div class="footer-grd-left">
                    <p>{% trans "The community to share recipes across the world" %}</p>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="col-md-3 footer-grid wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="300ms">
                <h3>{% trans "By Types" %}</h3>
                {% footer_category_menu %}
            </div>
            <div class="col-md-3 footer-grid wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="300ms">
                <h3>{% trans "By Skills" %}</h3>
                {% footer_skill_menu %}
            </div>
            <div class="col-md-3 footer-grid wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="300ms">
                <h3>Flickr Posts</h3>
                <div class="footer-grd">
                    <a href="#"><img src="{% static 'images/7.jpg' %}" class="img-responsive" alt=" "/></a>
                </div>
                <div class="footer-grd">
                    <a href="#"><img src="{% static 'images/8.jpg' %}" class="img-responsive" alt=" "/></a>
                </div>
                <div class="footer-grd">
                    <a href="#"><img src="{% static 'images/7.jpg' %}" class="img-responsive" alt=" "/></a>
                </div>
                <div class="clearfix"></div>
                <div class="footer-grd">
                    <a href="#"><img src="{% static 'images/8.jpg' %}" class="img-responsive" alt=" "/></a>
                </div>
                <div class="footer-grd">
                    <a href="#"><img src="{% static 'images/7.jpg' %}" class="img-responsive" alt=" "/></a>
                </div>
                <div class="footer-grd">
                    <a href="#"><img src="{% static 'images/8.jpg' %}" class="img-responsive" alt=" "/></a>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
<div class="footer-bottom wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="300ms">
    <div class="container">
        <p>&copy 2018 MasterCook. All rights reserved | Design by <a href="http://w3layouts.com/"> W3layouts.</a></p>
    </div>
</div>
<!-- //footer -->
<!-- for bootstrap working -->
<script src="{% static 'js/bootstrap.js' %}"></script>
<script src="{% static 'js/star-rating.min.js' %}"></script>
<script src="{% static 'js/custom.js' %}"></script>

<!-- //js -->
<script src="{% static 'js/wow.min.js' %}"></script>
<script>
    new WOW().init();
</script>