{% load static from staticfiles %}

<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<meta name="keywords" content="MasterCook Django Website Worlwide Recipe Community"/>
<script type="application/x-javascript"> addEventListener("load", function () {
    setTimeout(hideURLbar, 0);
}, false);

function hideURLbar() {
    window.scrollTo(0, 1);
} </script>
<!-- Custom Theme files -->
<link href="{% static 'css/bootstrap.css' %}" rel="stylesheet" type="text/css" media="all"/>
<link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css" media="all"/>
<link href="{% static 'css/star-rating.min.css' %}" rel="stylesheet" type="text/css" media="all"/>
<link href="{% static 'css/flags.css' %}" rel="stylesheet" type="text/css" media="all"/>
<link href="{% static 'css/custom.css' %}" rel="stylesheet" type="text/css" media="all"/>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css"
      integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
<!-- animation-effect -->
<link href="{% static 'css/animate.min.css' %}" rel="stylesheet">
<!-- //animation-effect -->
<link href='//fonts.googleapis.com/css?family=Alex+Brush' rel='stylesheet' type='text/css'>
<link href='//fonts.googleapis.com/css?family=Cabin:400,400italic,500,500italic,600,600italic,700,700italic'
      rel='stylesheet' type='text/css'>

<!-- js -->
<script src="{% static 'js/jquery-1.11.1.min.js' %}"></script>